* {
    background-color: rgb(37, 37, 37);
    color: antiquewhite;
}

.grid-container {
    background-color: black;
    border: 2px solid gray;
    width: 980px;
    height: 980px;
    display: flex;
    flex-direction: column;
}

.grid-row {
    background-color: black;
    flex: 1;
    display: flex;
}

.grid-square {
    background-color: black;
    border: 1px solid gray;
    flex: 1;

}

input {
    background-color: gray;
    color: black;
    margin: 5px;
}

button {
    border-radius: 9px;
    margin: 5px;
}